DB_connection_guide.md

notes.py
part_1/Module 3/exercise_in_class/
part_1/Module 4/exercise_3_bis.py
part_1/Module 4/exercise_5_bis.py
part_1/Module 5/exercise_in_class_1.py
part_1/Module 5/exercise_in_class_2.py
part_1/Module 6/exercise_in_class_1.py
part_1/Module 7/exercise_in_class_1.py
part_1/Module 7/exercise_in_class_2.py
part_1/Module 7/exercise_in_class_3.py
part_1/Module 8/exercise_in_class_1.py
part_1/Module 8/test.sql

# cache files
.DS_Store
.idea/