DB_connection_guide.md

notes.py
Module 3/exercise_in_class/
Module 4/exercise_3_bis.py
Module 4/exercise_5_bis.py
Module 5/exercise_in_class_1.py
Module 5/exercise_in_class_2.py
Module 6/exercise_in_class_1.py
Module 7/exercise_in_class_1.py
Module 7/exercise_in_class_2.py
Module 7/exercise_in_class_3.py
Module 8/exercise_in_class_1.py
Module 8/test.sql

# cache files
.DS_Store
.idea/